<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"> 
  <form [formGroup]="recoverForm" (ngSubmit)="resetPassword($event)">
    <h4>Recuperar contraseña</h4>
    <ion-list>
      <ion-item>
        <ion-input formControlName="email" type="text" placeholder="Correo electrónico" required></ion-input>
      </ion-item>
      <ion-item *ngIf="invalidField('email')">
        <ion-label text-wrap color="danger">
          {{ getErrorMessage('email') }}
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-button expand="full" color="light" type="submit">Recuperar</ion-button>
    <p>¿No estás registrado? <a routerLink="../register/">Regístrate</a></p>
    <p>¿Tienes cuenta? <a routerLink="../login/">Ingresa</a></p>
  </form>
</ion-content>
