<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registerForm" (ngSubmit)="signUpUser($event)">
    <h4>Registrar usuario</h4>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Dirección de correo</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-item *ngIf="invalidField('email')">
        <ion-label text-wrap color="danger">
          {{ getErrorMessage('email') }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="invalidField('password')">
        <ion-label text-wrap color="danger">
          {{ getErrorMessage('password') }}
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-button expand="full" color="light" type="submit">Registrarse</ion-button>
    <p>¿Tienes cuenta? <a routerLink="../login/">Ingresa</a></p>
  </form>
</ion-content>
